.theme_color_project-brand {
    --color-bg-default: #0070f0;
    --color-bg-accent: #FFFFFF;
    --color-bg-border: #FFFFFF;

    --color-typo-primary: #FFFFFF;
    --color-typo-secondary: rgba(255, 255, 255, 0.6);
    --color-typo-ghost: rgba(255, 255, 255, 0.3); 
    --color-typo-link: #FFFFFF;

    --image: url('../../../static/image-placeholder-inverse.svg');
}
