.text_size_s .text__word_width_s {
    height: 7px;
    width: 20px;
}

.text_size_m .text__word_width_s {
    height: 8px;
    width: 24px;
}

.text_size_l .text__word_width_s {
    height: 10px;
    width: 28px;
}

.text_size_xl .text__word_width_s {
    height: 11px;
    width: 32px;
}

.text_size_xxl .text__word_width_s {
    height: 13px;
    width: 36px;
}